body{
font-family:sans-serif;
text-align:center;
background:#f4f6ff;
padding:20px;
}

a,button{
display:block;
background:#4f46e5;
color:white;
padding:14px;
margin:15px auto;
width:85%;
max-width:320px;
border-radius:12px;
text-decoration:none;
border:none;
font-size:17px;
}

input,select{
width:90%;
padding:10px;
margin:6px;
font-size:16px;
}
