/* تصميم رمضاني كامل */
body{
  font-family: 'Courier New', Courier, monospace;
  text-align:center;
  background: linear-gradient(to bottom, #fff8e1, #ffe4b3);
  color:#4b2e83;
  padding:20px;
}

h1,h2{
  color:#b71c1c;
  margin-bottom:20px;
}

a,button{
  display:block;
  background:#4b2e83;
  color:white;
  font-weight:bold;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  padding:14px;
  margin:15px auto;
  width:85%;
  max-width:320px;
  border-radius:12px;
  text-decoration:none;
  border:none;
  font-size:17px;
}

button{
  display:block;
  background:#4b2e83;
  color:white;
  font-weight:bold;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  padding:14px;
  margin:15px auto;
  width:85%;
  max-width:320px;
  border-radius:12px;
  text-decoration:none;
  border:none;
  font-size:17px;
}

button:hover{
  background:#7e57c2;
}

a:hover,button:hover{
  background:#7e57c2;
}

input,select{
  width:90%;
  padding:10px;
  margin:6px;
  font-size:16px;
  border-radius:8px;
  border:1px solid #ccc;
}
